app/Repository/NeweggMws/xsd/DataFeedMgmt/DataFeedSchema/Itemfeed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--<@Include@>-->
	<!--insert -->
	<xs:element name="NeweggEnvelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentVersion" fixed="1.0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MessageType" fixed="BatchItemCreation"/>
				<xs:element name="Overwrite" default="No" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Yes"/>
							<xs:enumeration value="No"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Message">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Itemfeed" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SummaryInfo">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SubCategoryID" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Item" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Action" default="Create Item" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="Create Item"/>
																<xs:enumeration value="Update Item"/>
																<xs:enumeration value="Update Item Price and Inventory"/>
																<xs:enumeration value="Update/Append Image"/>
																<xs:enumeration value="Replace Image"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BasicInfo">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SellerPartNumber">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Manufacturer">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ManufacturerPartsNumber">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UPCOrISBN">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ManufacturerItemURL" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="256"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RelatedSellerPartNumber" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="40"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="WebsiteShortTitle">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="200"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="WebsiteLongTitle" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="200"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ProductDescription">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="4000"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemDimension">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ItemLength">
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:minInclusive value="0.01"/>
																						<xs:maxInclusive value="485.99"/>
																						<xs:fractionDigits value="2"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ItemWidth">
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:maxInclusive value="485.99"/>
																						<xs:minInclusive value="0.01"/>
																						<xs:fractionDigits value="2"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ItemHeight">
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:minInclusive value="0.01"/>
																						<xs:maxInclusive value="485.99"/>
																						<xs:fractionDigits value="2"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ItemWeight">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="0.01"/>
																			<xs:maxInclusive value="99999.00"/>
																			<xs:fractionDigits value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemCondition">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="New"/>
																			<xs:enumeration value="Refurbished"/>
																			<xs:enumeration value="UsedLikeNew"/>
																			<xs:enumeration value="UsedVeryGood"/>
																			<xs:enumeration value="UsedGood"/>
																			<xs:enumeration value="UsedAcceptable"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemPackage" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Retail"/>
																			<xs:enumeration value="OEM"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShippingRestriction">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Yes"/>
																			<xs:enumeration value="No"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Currency" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MSRP" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="0.01"/>
																			<xs:maxInclusive value="99999.00"/>
																			<xs:fractionDigits value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MAP" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="0.00"/>
																			<xs:maxInclusive value="99999.00"/>
																			<xs:fractionDigits value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CheckoutMAP" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="True"/>
																			<xs:enumeration value="False"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SellingPrice">
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:minInclusive value="0.01"/>
																			<xs:maxInclusive value="99999.00"/>
																			<xs:fractionDigits value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Shipping">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="Default"/>
																			<xs:enumeration value="Free"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Inventory">
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">
																			<xs:maxInclusive value="999999"/>
																			<xs:minInclusive value="0"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ActivationMark" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="True"/>
																			<xs:enumeration value="False"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemImages">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Image" maxOccurs="7">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ImageUrl"/>
																						<xs:element name="IsPrimary" type="xs:boolean" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ConditionDetails" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="0"/>
																			<xs:maxLength value="200"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UsedItemImages" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Image" maxOccurs="7">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ImageUrl"/>
																						<xs:element name="IsPrimary" type="xs:boolean" minOccurs="0"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Warning" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Prop65" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Yes"/>
																						<xs:enumeration value="No"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="Prop65Motherboard" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Yes"/>
																						<xs:enumeration value="No"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="CountryOfOrigin" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="ABW"/>
																						<xs:enumeration value="AFG"/>
																						<xs:enumeration value="AGO"/>
																						<xs:enumeration value="AIA"/>
																						<xs:enumeration value="ALB"/>
																						<xs:enumeration value="AND"/>
																						<xs:enumeration value="ANT"/>
																						<xs:enumeration value="ARE"/>
																						<xs:enumeration value="ARG"/>
																						<xs:enumeration value="ARM"/>
																						<xs:enumeration value="ASM"/>
																						<xs:enumeration value="ATA"/>
																						<xs:enumeration value="ATF"/>
																						<xs:enumeration value="ATG"/>
																						<xs:enumeration value="AUS"/>
																						<xs:enumeration value="AUT"/>
																						<xs:enumeration value="AZE"/>
																						<xs:enumeration value="BDI"/>
																						<xs:enumeration value="BEL"/>
																						<xs:enumeration value="BEN"/>
																						<xs:enumeration value="BFA"/>
																						<xs:enumeration value="BGD"/>
																						<xs:enumeration value="BGR"/>
																						<xs:enumeration value="BHR"/>
																						<xs:enumeration value="BHS"/>
																						<xs:enumeration value="BIH"/>
																						<xs:enumeration value="BLR"/>
																						<xs:enumeration value="BLZ"/>
																						<xs:enumeration value="BMU"/>
																						<xs:enumeration value="BOL"/>
																						<xs:enumeration value="BRA"/>
																						<xs:enumeration value="BRB"/>
																						<xs:enumeration value="BRN"/>
																						<xs:enumeration value="BTN"/>
																						<xs:enumeration value="BVT"/>
																						<xs:enumeration value="BWA"/>
																						<xs:enumeration value="CAF"/>
																						<xs:enumeration value="CAN"/>
																						<xs:enumeration value="CCK"/>
																						<xs:enumeration value="CHE"/>
																						<xs:enumeration value="CHL"/>
																						<xs:enumeration value="CHN"/>
																						<xs:enumeration value="CIV"/>
																						<xs:enumeration value="CMR"/>
																						<xs:enumeration value="COD"/>
																						<xs:enumeration value="COG"/>
																						<xs:enumeration value="COK"/>
																						<xs:enumeration value="COL"/>
																						<xs:enumeration value="COM"/>
																						<xs:enumeration value="CPV"/>
																						<xs:enumeration value="CRI"/>
																						<xs:enumeration value="CUB"/>
																						<xs:enumeration value="CXR"/>
																						<xs:enumeration value="CYM"/>
																						<xs:enumeration value="CYP"/>
																						<xs:enumeration value="CZE"/>
																						<xs:enumeration value="DEU"/>
																						<xs:enumeration value="DJI"/>
																						<xs:enumeration value="DMA"/>
																						<xs:enumeration value="DNK"/>
																						<xs:enumeration value="DOM"/>
																						<xs:enumeration value="DZA"/>
																						<xs:enumeration value="ECU"/>
																						<xs:enumeration value="EGY"/>
																						<xs:enumeration value="ERI"/>
																						<xs:enumeration value="ESH"/>
																						<xs:enumeration value="ESP"/>
																						<xs:enumeration value="EST"/>
																						<xs:enumeration value="ETH"/>
																						<xs:enumeration value="FIN"/>
																						<xs:enumeration value="FJI"/>
																						<xs:enumeration value="FLK"/>
																						<xs:enumeration value="FRA"/>
																						<xs:enumeration value="FRO"/>
																						<xs:enumeration value="FSM"/>
																						<xs:enumeration value="FXX"/>
																						<xs:enumeration value="GAB"/>
																						<xs:enumeration value="GBR"/>
																						<xs:enumeration value="GEO"/>
																						<xs:enumeration value="GHA"/>
																						<xs:enumeration value="GIB"/>
																						<xs:enumeration value="GIN"/>
																						<xs:enumeration value="GLP"/>
																						<xs:enumeration value="GMB"/>
																						<xs:enumeration value="GNB"/>
																						<xs:enumeration value="GNQ"/>
																						<xs:enumeration value="GRC"/>
																						<xs:enumeration value="GRD"/>
																						<xs:enumeration value="GRL"/>
																						<xs:enumeration value="GTM"/>
																						<xs:enumeration value="GUF"/>
																						<xs:enumeration value="GUM"/>
																						<xs:enumeration value="GUY"/>
																						<xs:enumeration value="HKG"/>
																						<xs:enumeration value="HMD"/>
																						<xs:enumeration value="HND"/>
																						<xs:enumeration value="HRV"/>
																						<xs:enumeration value="HTI"/>
																						<xs:enumeration value="HUN"/>
																						<xs:enumeration value="IDN"/>
																						<xs:enumeration value="IND"/>
																						<xs:enumeration value="IOT"/>
																						<xs:enumeration value="IRL"/>
																						<xs:enumeration value="IRN"/>
																						<xs:enumeration value="IRQ"/>
																						<xs:enumeration value="ISL"/>
																						<xs:enumeration value="ISR"/>
																						<xs:enumeration value="ITA"/>
																						<xs:enumeration value="JAM"/>
																						<xs:enumeration value="JOR"/>
																						<xs:enumeration value="JPN"/>
																						<xs:enumeration value="KAZ"/>
																						<xs:enumeration value="KEN"/>
																						<xs:enumeration value="KGZ"/>
																						<xs:enumeration value="KHM"/>
																						<xs:enumeration value="KIR"/>
																						<xs:enumeration value="KNA"/>
																						<xs:enumeration value="KOR"/>
																						<xs:enumeration value="KWT"/>
																						<xs:enumeration value="LAO"/>
																						<xs:enumeration value="LBN"/>
																						<xs:enumeration value="LBR"/>
																						<xs:enumeration value="LBY"/>
																						<xs:enumeration value="LCA"/>
																						<xs:enumeration value="LIE"/>
																						<xs:enumeration value="LKA"/>
																						<xs:enumeration value="LSO"/>
																						<xs:enumeration value="LTU"/>
																						<xs:enumeration value="LUX"/>
																						<xs:enumeration value="LVA"/>
																						<xs:enumeration value="MAC"/>
																						<xs:enumeration value="MAR"/>
																						<xs:enumeration value="MCO"/>
																						<xs:enumeration value="MDA"/>
																						<xs:enumeration value="MDG"/>
																						<xs:enumeration value="MDV"/>
																						<xs:enumeration value="MEX"/>
																						<xs:enumeration value="MHL"/>
																						<xs:enumeration value="MKD"/>
																						<xs:enumeration value="MLI"/>
																						<xs:enumeration value="MLT"/>
																						<xs:enumeration value="MMR"/>
																						<xs:enumeration value="MNG"/>
																						<xs:enumeration value="MNP"/>
																						<xs:enumeration value="MOZ"/>
																						<xs:enumeration value="MRT"/>
																						<xs:enumeration value="MSR"/>
																						<xs:enumeration value="MTQ"/>
																						<xs:enumeration value="MUS"/>
																						<xs:enumeration value="MWI"/>
																						<xs:enumeration value="MYS"/>
																						<xs:enumeration value="MYT"/>
																						<xs:enumeration value="NAM"/>
																						<xs:enumeration value="NCL"/>
																						<xs:enumeration value="NER"/>
																						<xs:enumeration value="NFK"/>
																						<xs:enumeration value="NGA"/>
																						<xs:enumeration value="NIC"/>
																						<xs:enumeration value="NIU"/>
																						<xs:enumeration value="NLD"/>
																						<xs:enumeration value="NOR"/>
																						<xs:enumeration value="NPL"/>
																						<xs:enumeration value="NRU"/>
																						<xs:enumeration value="NZL"/>
																						<xs:enumeration value="OMN"/>
																						<xs:enumeration value="PAK"/>
																						<xs:enumeration value="PAN"/>
																						<xs:enumeration value="PCN"/>
																						<xs:enumeration value="PER"/>
																						<xs:enumeration value="PHL"/>
																						<xs:enumeration value="PLW"/>
																						<xs:enumeration value="PNG"/>
																						<xs:enumeration value="POL"/>
																						<xs:enumeration value="PRI"/>
																						<xs:enumeration value="PRK"/>
																						<xs:enumeration value="PRT"/>
																						<xs:enumeration value="PRY"/>
																						<xs:enumeration value="PSE"/>
																						<xs:enumeration value="PYF"/>
																						<xs:enumeration value="QAT"/>
																						<xs:enumeration value="REU"/>
																						<xs:enumeration value="ROM"/>
																						<xs:enumeration value="RUS"/>
																						<xs:enumeration value="RWA"/>
																						<xs:enumeration value="SAU"/>
																						<xs:enumeration value="SDN"/>
																						<xs:enumeration value="SEN"/>
																						<xs:enumeration value="SGP"/>
																						<xs:enumeration value="SGS"/>
																						<xs:enumeration value="SHN"/>
																						<xs:enumeration value="SJM"/>
																						<xs:enumeration value="SLB"/>
																						<xs:enumeration value="SLE"/>
																						<xs:enumeration value="SLV"/>
																						<xs:enumeration value="SMR"/>
																						<xs:enumeration value="SOM"/>
																						<xs:enumeration value="SPM"/>
																						<xs:enumeration value="STP"/>
																						<xs:enumeration value="SUR"/>
																						<xs:enumeration value="SVK"/>
																						<xs:enumeration value="SVN"/>
																						<xs:enumeration value="SWE"/>
																						<xs:enumeration value="SWZ"/>
																						<xs:enumeration value="SYC"/>
																						<xs:enumeration value="SYR"/>
																						<xs:enumeration value="TCA"/>
																						<xs:enumeration value="TCD"/>
																						<xs:enumeration value="TGO"/>
																						<xs:enumeration value="THA"/>
																						<xs:enumeration value="TJK"/>
																						<xs:enumeration value="TKL"/>
																						<xs:enumeration value="TKM"/>
																						<xs:enumeration value="TMP"/>
																						<xs:enumeration value="TON"/>
																						<xs:enumeration value="TTO"/>
																						<xs:enumeration value="TUN"/>
																						<xs:enumeration value="TUR"/>
																						<xs:enumeration value="TUV"/>
																						<xs:enumeration value="TWN"/>
																						<xs:enumeration value="TZA"/>
																						<xs:enumeration value="UGA"/>
																						<xs:enumeration value="UKR"/>
																						<xs:enumeration value="UMI"/>
																						<xs:enumeration value="URY"/>
																						<xs:enumeration value="USA"/>
																						<xs:enumeration value="UZB"/>
																						<xs:enumeration value="VAT"/>
																						<xs:enumeration value="VCT"/>
																						<xs:enumeration value="VEN"/>
																						<xs:enumeration value="VGB"/>
																						<xs:enumeration value="VIR"/>
																						<xs:enumeration value="VNM"/>
																						<xs:enumeration value="VUT"/>
																						<xs:enumeration value="WLF"/>
																						<xs:enumeration value="WSM"/>
																						<xs:enumeration value="YEM"/>
																						<xs:enumeration value="YUG"/>
																						<xs:enumeration value="ZAF"/>
																						<xs:enumeration value="ZMB"/>
																						<xs:enumeration value="ZWE"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="OverAge18Verification" minOccurs="0">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:enumeration value="Yes"/>
																						<xs:enumeration value="No"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ChokingHazard" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="SmallParts" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="Yes"/>
																									<xs:enumeration value="No"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="SmallBall" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="Is a small ball"/>
																									<xs:enumeration value="Contains a small ball"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Balloons" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="Yes"/>
																									<xs:enumeration value="No"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Marble" minOccurs="0">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="Is a marble"/>
																									<xs:enumeration value="Contains a marble"/>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SubCategoryProperty">
														<xs:complexType>
															<xs:sequence>
																<xs:choice>
																	<!--insert -->
																	<!--<@ref@>-->
																</xs:choice>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
